* {
  box-sizing: border-box;
  padding: 10;
  margin: 10;
}

main {
  margin-bottom: 400px;
}

/* Adding a background color to the body of the page */
body {
  background-color: rgb(219, 228, 235);
}
/* Font and style for main page header */
.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(55, 58, 60);
  padding: 10px;
  margin: -10px;
  color: whitesmoke;
  font-size: 22px;
}

.header h1 {
  display: inline-block;
  margin-left: 10px;
}

.header nav {
  float: right;
  margin-right: 25px;
  padding-top: 15px;
}
/* Spacing for links in header */
.header a {
  padding-left: 10px;
}
/* Removing bullets and added spacing for links in header */
.header ul {
  list-style-type: none;
  margin-left: 30px;
}

.header li {
  display: inline-block;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Changing color and size of nav links */
.header a {
  color: azure;
  font-size: 25px;
}
/* Font and spacing for paragraph text sections */
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 200px;
  font-size: 25px;
}

.titles {
  display: flex;
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(43, 43, 137);
  width: 20px;
  height: 20px;
  border: 50px solid rgb(219, 228, 235);
  flex-wrap: wrap;
  margin: 85px 0px 0px 40px;
}
/* These are font sizes for titles of sections */
.titles h2 {
  font-size: 35px;
}

.titles h3 {
  font-size: 35px;
  margin: 200px 0px 50px 0px;
}

.titles h4 {
  font-size: 35px;
  margin-top: 331px;
}
/* Spacing for links in body */
a {
  padding-left: 200px;
}

.contact {
  display: flex;
  margin-left: 200px;
  padding-left: 20px;
  position: absolute;
  border: 0px solid rgb(219, 228, 235);
  margin-top: 920px;
}

.my-work a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  display: flex;
  margin-left: 400px;
  padding-left: 10px;
  position: absolute;
  border: 0px solid rgb(219, 228, 235);
  margin-top: 500px;
}

.contact a {
  margin-top: 22px;
  font-size: 25px;
}

.about-me {
  display: flex;
  margin-left: 200px;
  padding-left: 10px;
  position: absolute;
  border: 0px solid rgb(219, 228, 235);
  margin-top: 150px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 20%;
  }

  hr {
    border: 3px dashed #3c3c3c;
    position: absolute;
    margin-top: 350px;
    width: 100%;
  }